html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
    background:url('image/header_bg.jpg') repeat-x scroll 0px 0px #FFFFFF ;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
.net {
    display:none;
}
.akcia {
background: url("image/ico_sale.png") no-repeat scroll center center transparent;
    height: 85px;
    margin-left: 56px;
    margin-top: -85px;
    position: absolute;
    width: 85px;   
}
html body div#container div#content div#footer div.cent div.box div.box-content div.box-product div div.cart input.button {
    display:none;
}
html body div#topcontrol {
    right: 45px!important;
}
h1, .welcome {
	color: #2E2E2E;
	font-family: Verdana;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #747373;
	text-decoration: underline;
	cursor: pointer;
}
html body div#container div.cen div#header div.headercenter div#welcome a {
   color: #fff; 
}
html body div#container div.cen div#header div.headercenter div#welcome a:hover {
   color: #000; 
}
div#content div#column-left div.box div.box-content div.box-category ul li ul li a.active {
  color: red;  
}
div#content div#column-left div.box div.box-content div.box-category ul li ul li a {
  color: #38B0E3;  
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}

input[type='text'], input[type='password'], textarea {
	background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CCCCCC;
    margin-left: 0;
    margin-right: 0;
    padding: 3px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
/* layout */
#container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#column-left {
width: 210px;
float: left;
}
html body div#container div#content div.contentcenter div#column-left div.box {
    box-shadow: none;
}
div#column-left div#banner0.banner div {
    margin-top: 50px;
}
#column-right {
	float: right;
	width: 180px;
}
#content {
}
.contentcenter {
	min-height: 350px;
	margin-top:50px;
    width: 980px;
    margin-left:auto;
    margin-right:auto;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 195px;
}
#column-right + #content {
	margin-right: 195px;
}
/* header */
#header {
	z-index: 99;
    position: absolute; 
    margin-top: -100px;
}
div#header div.headercenter {
width: 980px;
    margin-left:auto;
    margin-right:auto;
    position:relative;    
    
}
#logo {
	position: absolute;
	top: 25px;
	left: 15px;
}
#language {
	position: absolute;
	top: -25px;
	left: -100px;
	width: 80px;
	color: #fff;
	line-height: 17px;
}
#language img {
	cursor: pointer;
	margin-right: 5px;
}
div.price span.pr {
    font-weight: 700;
}
#currency {
	width: 200px;
	position: absolute;
	top: 70px;
	right: -70px;
	color: #fff;
	line-height: 17px;
}
#currency a {
	display: inline-block;
	padding: 0px 5px;
	border: 1px solid #CCC;
	color: #595959;
	text-decoration: none;
	border-radius: 30px;
}
#currency a b {
	color: #000;
	text-decoration: none;
}
#header #cart {
	    min-width: 300px;
    position: absolute;
    right: 23px;
    top: 0px;
    z-index: 9;
}
#header #cart .heading {
    margin-right: -110px;
	margin-top: 45px;
	padding-left: 14px;
	position: relative;
	z-index: 1;
}
#header #cart .heading h4 {
	color: #595959;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
#header #cart .heading a {
	color: #38B0E3;
	text-decoration: none;
}
#header #cart .heading a span {
	background:  url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
    color:#595959;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
    z-index:45;
    background-color: white;
    left: 70px;

}
html body div#container div.cen div#header div.headercenter div.tel {
    margin-left: 340px;
    margin-top: 20px;
    position: absolute;
    font-size: 1.3em;
    font-weight: bold;
    color: #1CBEF0;
    width: 380px;
    text-align: left;
}
html body div#container div.cen div#header div.headercenter div.kyrs {
    position: absolute;
    right: 0px;
    margin-top: 15px;
    font-weight: 700;
    color: rgba(0,0,0,0.6);
7	    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
#header #cart.active .heading {
	
	padding-bottom: 6px;
	
	border-radius: 7px 7px 0px 0px;
}
#header #cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #000;
	padding: 4px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#header #search {
	position: absolute;
	top: 45px;
	right: 260px;
	width: 398px;
	z-index: 15;
}
#header .button-search {
	position: absolute;
	left: 0px;
	background: url('image/1344243105_search_blue.png') center center no-repeat;
	width: 28px;
	height: 30px;
	cursor: pointer;
}
html body div#container div#cart-success div.cart-conf-popup div.cart-box-succ-img img {
    margin-left: 90px;
    position: absolute;
}
#header #search input {
	padding: 1px 1px 1px 33px;
	width: 362px;
	height: 21px;
	border: 3px solid #BB0F03;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 0px 3px 5px rgba(51, 50, 50, 0.63);
-moz-box-shadow:    0px 3px 5px rgba(51, 50, 50, 0.63);
box-shadow:         0px 3px 5px rgba(51, 50, 50, 0.63);
color: #CCCCCC;
    font-style: italic;
    font-size: 1.1em;
}
#header #welcome {
	
    color: #000000;
    height: 27px;
    position: absolute;
    right:-30px;
    text-align: right;
    top: -25px;
    width: 298px;
    z-index: 5;
    font-weight: 700;
}

#header .links {
	position: absolute;
	right: 630px;
	bottom: 3px;
	padding-right: 10px;
    top: -25px;
}
#header .links a {
	color: #fff;
    display: block;
    float: left;
    font-size: 0.846em;
    font-weight: 900;
    padding: 0 0 0 7px;
    text-decoration: none;
}
#header .links a:hover {
    color: #000;
}
#header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}
html body div#container div.cen div#menu div#centrmenu
/* menu */
#menu div#centrmenu {
    width: 85%;
    margin-left: auto;  
    margin-right: auto;
     border-top: 3px solid #E7E7E7;
    border-bottom: 3px solid #E7E7E7;
}
#menu div#centrmenu {
	background: url('image/line.png') 10px center repeat-x;
	border: 1px solid #5F6060 !important;
	height: 43px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
	-webkit-border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-khtml-border-radius: 30px 30px 30px 30px;
	border-radius: 30px 30px 30px 30px;
	-webkit-box-shadow: 0px 2px 2px #000000;
	-moz-box-shadow: 0px 2px 2px #000000;
	box-shadow: 0px 2px 2px #000000;
	padding: 0px 5px;
    
    -webkit-box-shadow: 0px 5px 8px rgba(19, 0, 63, 0.5);
-moz-box-shadow:    0px 5px 8px rgba(19, 0, 63, 0.5);
box-shadow:         0px 5px 8px rgba(19, 0, 63, 0.5);
    
}
#menu div#centrmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
div#menu div#centrmenu > ul > li > ul {
    display: none;
}
#menu div#centrmenu > ul > li{
	position: relative;
	float: left;
	z-index: 20;	
	padding: 7px 5px 5px 5px;
    background: url('image/social_l.png') -3px center no-repeat;
}

#menu div#centrmenu > ul > li:first-child {
	background: none;
}
#menu > ul > li:hover {
}
#menu > ul > li > a.active {
	background: #000;
}
#menu div#centrmenu > ul > li > a {
	font-size: 13px;
	color: #fff !important;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 6px 1px 6px 1px;
	margin-bottom: 5px;
	font-family: 'droid sans',Helvetica,Arial,sans-serif;
	position: relative;
    font-weight: bold;
   
}
#menu div#centrmenu > ul > li > a:hover {
	
	color: #333 !important;
	
}

#menu div#centrmenu > ul > li ul + ul {
	padding-left: 20px;
}
#menu div#centrmenu > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	color: #5F6060 !important;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}




.breadcrumb {
	color: #CCCCCC;
	margin-bottom: 10px;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
	vertical-align: top;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
div.slideshow div#slideshow0.nivoSlider {
    margin-left: auto;
    margin-right: auto;
}
.slidshowcenter {
-webkit-box-shadow: -1px -1px 26px rgba(51, 50, 50, 0.67);
-moz-box-shadow:    -1px -1px 26px rgba(51, 50, 50, 0.67);
box-shadow:         -1px -1px 26px rgba(51, 50, 50, 0.67);    
margin-left: -5px;
}
/* button */
div.cart input.button {
 background:  #303030;
    
   
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    text-decoration: none;
    text-transform: none;
    padding: 7px 10px;  
}
a.button-detail {
    background: url("../image/button.png") repeat-x scroll left top transparent;
    border: 1px solid #E0EFF8;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px #0062B3;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    padding: 8px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 #000000;
}
a.button-detail:hover {
    background: url("../image/button-active.png") repeat-x scroll 0 0 transparent;
    text-shadow: 0 1px 0 #000000;
}
.buttons {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D0E3EE;
    margin-bottom: 20px;
    overflow: auto;
    padding: 6px;
}
.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.6);
	z-index: 500;
	display: none;
	top: 0;
	left: 0; 
}
.reveal-modal {
	visibility: hidden;
	top: 100px; 
	left: 50%;
	width: 800px; 
	margin-left: -400px;
	background: #e5e5e5;
	position: absolute;
	z-index: 2000;
	border: 1px solid #8e8e8e;
}
.reveal-modal .modal {
	background: #4F4F4F;
	padding: 7px;
}
.reveal-modal .modal .contents {
	padding: 0px 10px 20px 10px;
	background: #fff;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-khtml-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
	height:600px;
	text-align: left;
}
.reveal-modal .modal .contents > .left {
	float: left;
	margin-right: 15px;
}
.reveal-modal .modal .contents > .left + .right {
	margin-left: 265px;
}
.reveal-modal .modal .contents .name {
	 color:white;
    background: url('image/line.png') center repeat-x;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	margin: 0 -10px 10px -10px;
	-webkit-border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
	-khtml-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
}
.reveal-modal .modal .contents .images {
	border: 1px solid #d0e3ee;
	float: left;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.reveal-modal .modal .contents .description {
	border-top: 1px solid #d0e3ee;
	border-bottom: 1px solid #d0e3ee;
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #595959;
	font-weight: bold;
}
.reveal-modal .modal .contents .description span {
	color: #595959;
	font-weight: normal;
}
.reveal-modal .modal .contents .description a {
	color: #595959;
	text-decoration: underline;
}
.reveal-modal .modal .contents .description a:hover {
	text-decoration: none;
}
.reveal-modal .modal .contents .price {
	overflow: auto;
	border-bottom: 1px solid #d0e3ee;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #005dad;
}
.reveal-modal .modal .contents .price-old {
	color: #F00;
	text-decoration: line-through;
}
.reveal-modal .modal .contents .price-new {
}
.reveal-modal .modal .contents .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #86b2d9;
}
.reveal-modal .modal .contents .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #86b2d9;
}
.reveal-modal .modal .contents .cart {
	border-bottom: 1px solid #d0e3ee;
	padding: 3px 5px 13px 5px;
	margin-bottom: 20px;
	color: #005dad;
	overflow: auto;
}
.reveal-modal .modal .contents .cart div {
	float: left;
	vertical-align: middle;
}
.reveal-modal .modal .contents .cart div > span {
	padding-top: 7px;
	display: block;
	color: #86b2d9;
}
.reveal-modal .modal .contents .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #86b2d9;
	clear: both;
}
.reveal-modal .modal .contents .htabs {
	height: 30px;		
	line-height: 16px;
	border-bottom: 1px solid #d0e3ee;
	clear: both;
}
.reveal-modal .close-reveal-modal {
	position: absolute;
	display: block;
	top: 9px;
	right: 11px;
	height: 24px;
	width: 24px;
	cursor: pointer;
	background: url('../image/closes.png') center bottom no-repeat;
} 
.reveal-modal .close-reveal-modal:hover {
	background: url('../image/closes.png') center top no-repeat;
} 
.boxgrid {
    overflow:hidden;
    position:relative;
}
.boxcaption {
    position:absolute;
    width:100%;
	text-align: center;
}
.caption .boxcaption {
    top:300%;
    left:0;
}
div.cart input.button:hover {
   background: url("../image/button-bg.png") repeat-x scroll 0 bottom #E7E7E7;
   color: red;  
}
a.button, input.button {
    background-color: #303030;
	cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;

}

input.button {
	
}
a.button:hover, input.button:hover {

}
.buttons {


	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;		
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;	
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD; 
	
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}
html body div#container div#content div.contentcenter div.slid div.tenisks img {
    margin-top: -100px;
    margin-left: -20px;
}
div#content div.contentcenter div.slideshow {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
/* box */
html body div#container div#content div.contentcenter div.slid div.box {
    margin-top: auto;
    margin-left: auto;
   -webkit-box-shadow: -1px -1px 26px rgba(51, 50, 50, 0.67);
-moz-box-shadow:    -1px -1px 26px rgba(51, 50, 50, 0.67);
box-shadow:         -1px -1px 26px rgba(51, 50, 50, 0.67);
}
html body div#container div#content div#footer div.cent div.box div.box-heading{
	
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 14px;
	color: #1B1B1B;
    text-align: center;
}
html body div#container div#content div.contentcenter div.slid div.box div.box-heading {
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
    text-align: center;
    color:white;
    background: url('image/line.png') center repeat-x;
}
html body div#container div#content div.contentcenter div.slid div.box div.box-content div.box-product div div.name {
    height: 30px;
    overflow: hidden;
}
.box .box-content {
	
	
	padding: 10px;
}
/* box products */
.box-product {
	width: 100%;
	overflow: auto;
}
.box-product > div {
	width: 140px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;	
}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.box-product .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.box-product .price {
	display: block;
	font-weight: bold;
	color: #9f9f9f;
	margin-bottom: 4px;
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
.box-category {
	margin-top: -5px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li {
	padding: 8px 8px 8px 0px;
}
.box-category > ul > li + li {
	border-top: 1px solid #EEEEEE;
}
.box-category > ul > li > a {
	text-decoration: none;
	color: #333;
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	font-weight: bold;
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
div.box-heading {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}
/* category */
.category-info {
    left: 40px;
    margin-bottom: 20px;
    overflow: auto;
    position: relative;
    width: 735px;
   text-align: left;
    
}
html body div#container div.cen div#content div#content div.contentcenter div#tab-review.tab-content div.buttons {
    color:#000;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 5px;
	overflow: auto;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}
.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
}
.product-list .right {
border-left: 1px solid #FFFFFF;
    float: right;
    margin-left: 20px;
    margin-right: 9px;
    min-height: 130px;
    padding-left: 20px;
    text-align: left;
    width: 120px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
	
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #6E6E6E;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	color: #333333;
    float: right;
    font-size: 12px;
    height: 50px;
    margin-left: 40px;
    text-align: left;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #414141;
}

html body div#container div.cen div#content div#content div.contentcenter div.product-info div.right div.cart div input#button-cart.button {
    background: url('image/add_to_shopping_cart.png') top center no-repeat;  
    height: 70px;
    width: 70px;
    border: none;
}
html body div#container div.cen div#header div.headercenter div#cart div.content div.checkout {
    height: 40px;
}
html body div#container div.cen div#header div.headercenter div#cart div.content div.checkout a.button {
    height: 30px;
}
.product-list .cart {
	margin-bottom: 3px;
    margin-left: 3px;
}
html body div#container div#content div#content div.contentcenter div.category-info div.product-grid div div.compare span {
    display: none;
}
html body div#container div#content div#content div.contentcenter div.category-info div.product-grid div div.wishlist span {
    display:none;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.wishlist a:hover {
    background: url("image/iconimage.png") no-repeat scroll 0 -24px transparent;
}
html body div#container div#content div#content div.contentcenter div.category-info div.product-list div div.right div.wishlist span {
    display:none;
} 
html body div#container div#content div#content div.contentcenter div.category-info div.product-list div div.right div.compare span{
    display:none;
}
.addtowishlist, div.wishlist > a {
    background: url("image/iconimage.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 24px;
    margin: 0 5px;
    overflow: hidden;
    text-indent: -9999px;
    width: 25px;
}
.compare a:hover {
    background: url("image/iconimage.png") no-repeat scroll -29px -24px transparent;
}
.addtocompare, div.compare > a {
    background: url("image/iconimage.png") no-repeat scroll -29px 0 transparent;
    float: left;
    height: 24px;
    overflow: hidden;
    text-indent: -9999px;
    width: 25px;
}
.product-grid {
	margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 90%;
}
.product-grid > div {
	border: 1px solid #dfdfdf;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    margin: 0 5px 11px 0;
    padding: 15px 10px 6px;
    vertical-align: top;
    width: 198px;
}
a.button {
    background: url("../image/button-bg.png") repeat-x scroll 0 0 #303030;
    border-bottom: medium none;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    text-decoration: none;
    text-transform: none;
}
a.button.details {
    background: url("../image/button-details-bg.png") repeat-x scroll 0 bottom transparent;
    border-bottom: 1px solid #C2C1C1;
    display: inline-block;
    margin-left: 10px;
}
a.button.details span {
    color: #373737;
    padding-bottom: 6px;
}
a.button span {
    color: #FFFFFF;
    display: inline-block;
    padding: 7px 10px;
}
a.button-2 {
    background: url("../image/button-right.png") no-repeat scroll right top transparent;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    font-weight: 600 !important;
    height: 23px;
    line-height: 23px;
    text-transform: uppercase;
}
a.button-2:hover {
    background: url("../image/button-bg.png") repeat-x scroll 0 bottom #596B55;
    border-bottom-color: #4A5947;
}
a.button:hover {
    background: url("../image/button-bg.png") repeat-x scroll 0 bottom #E7E7E7;
}
a.button:hover span {
    color: #FFFFFF;
}
.product-grid .wishlist, .product-grid .compare {
    float: right;
    margin-bottom: 3px;
    position: relative;
}

.buttons {
    margin-bottom: 20px;
    overflow: auto;
    padding: 6px;
}
.buttons .left {
    float: left;
    text-align: left;
}
.buttons .right {
    float: right;
    text-align: right;
}
.buttons .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	padding: 3px;
	
}
.product-grid .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.product-grid .description {
height: 30px;
    overflow: hidden;	
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 4px;
}
.product-grid .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}

.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
    margin-top: -26px;
}

/* Product */
.product-info {
left: 20px;
    margin-bottom: 20px;
    overflow: auto;
    position: relative;
    width: 700px
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 265px;
}
.product-info .image {
	border: 1px solid #E7E7E7;
	float: left;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.product-info .image-additional {
	width: 260px;
	margin-left: -10px;
	clear: both;
	overflow: hidden;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
}
.product-info .description {
    width: 500px;
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
}
.product-info .description span {
	color: #38B0E3;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}
#vk_like {
    position: absolute!important;
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.right div.soc {
    height: 25px;
    margin-bottom: 20px;
}
#___plusone_0 {
    margin-left: 150px!important;
}

.price3{
    margin-bottom: 10px;
    width: 30%;
    text-align: center;
    background-color: #FDFADC;
    border-bottom: 1px solid #E6E3BD;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #E6E3BD;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border form div.cart-info table tbody tr {
    height: 42px;
    border-bottom: 1px solid #DDDDDD;
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border form div.cart-info table tbody tr td.image{
    float: none;
    margin-top: 20px;
    margin-left: 20px;
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border form div.cart-info table thead tr td.simage {
    text-align: center;
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border form div.cart-info table thead tr td.sprice {
    text-align: center;
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border form div.cart-info table thead tr td.stotal {
    text-align: center;
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border div.buttons div.center a.button {
    width: 100px;
    height: 30px;
    font-weight: bold;
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border div.checkout div#payment-address div.checkout-content div.buttons div.right .button {
    background-color: #595959;
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border div.checkout div#payment-address div.checkout-content div.buttons div.right .button:hover {
    background-color: #dddddd;
    color:red;
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border div.checkout div#shipping-address div.checkout-content div.buttons div.right input#button-shipping-address.button {
background-color: #595959;    
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border div.checkout div#shipping-address div.checkout-content div.buttons div.right input#button-shipping-address.button:hover {
background-color: #dddddd;
    color:red;    
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border div.checkout div#shipping-method div.checkout-content div.buttons div.right input#button-shipping-method.button {
background-color: #595959;    
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border div.checkout div#shipping-method div.checkout-content div.buttons div.right input#button-shipping-method.button:hover {
background-color: #dddddd;
    color:red;     
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border div.checkout div#payment-method div.checkout-content div.buttons div.right input#button-payment-method.button {
background-color: #595959;    
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border div.checkout div#payment-method div.checkout-content div.buttons div.right input#button-payment-method.button:hover {
background-color: #dddddd;
    color:red;      
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border div.checkout div#confirm div.checkout-content div.payment div.buttons div.right input#button-confirm.button {
background-color: #595959;    
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border div.checkout div#confirm div.checkout-content div.payment div.buttons div.right input#button-confirm.button:hover {
background-color: #dddddd;
    color:red;     
}
html body div#container div.cen div#content div#content div.contentcenter div.product-info div.border div.buttons div.right a.button {
 width: 100px;
    height: 30px;
    font-weight: bold;
    text-align: center;   
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
    width: 90%;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
   
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
div.cen {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
/* footer */ 
#footer {
	clear: both;
    color: #595959;
    margin: 50px auto 40px;
    width: 980px;
    border-top: 3px solid #E5E5E5;
    border-bottom: 3px solid #E5E5E5;
}
html body div#container div#content div.contentcenter div.slid {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.fotternuz {
background: url('image/footer_b.png') repeat-x;    
background-position:left bottom;
clear: both;
height: 340px;    
}
.boxprivet {
    margin-top: 75px;
    text-align: justify;
}
.footer-bg {
 border: 1px solid #DBDBDB;
    margin-left: auto;
    margin-right: auto;
    width: 1010px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 15px #DDDDDD inset;
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 20px;
    background: none repeat scroll 0 0 #FFFFFF;  
}
#footer h3 {
    color: #00539B;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: -35px;
    padding-left: 30px;
    padding-top: 5px;
    position: absolute;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
.fotternuz .info {
    background: url("../image/h3-icon1.png") no-repeat scroll 0 1px transparent;
    height: 25px;
}
.fotternuz .service {
    background: url("../image/h3-icon2.png") no-repeat scroll 0 1px transparent;
    height: 25px;
}
.fotternuz .extra {
    background: url("../image/h3-icon3.png") no-repeat scroll 0 2px transparent;
    height: 25px;
}
.fotternuz .account {
    background: url("../image/h3-icon4.png") no-repeat scroll 0 1px transparent;
    height: 25px;
}
.fotternuz .column {
    background: url("../image/footer-hr.gif") no-repeat scroll 95% -30px transparent;
    float: left;
    min-height: 240px;
    width: 33%;
}
.fotternuz .column ul {
    list-style: none outside none;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 0;
}
.fotternuz .column ul li {
    background: url("../image/footer-arrow.png") no-repeat scroll 0 3px transparent;
    line-height: 22px;
    margin-bottom: 3px;
    padding-left: 20px;
}
.fotternuz .column ul li:hover {
    background: url("../image/footer-arrow.png") no-repeat scroll 3px 3px transparent;
    margin-bottom: 3px;
    padding-left: 20px;
}
.fotternuz.column a {
    color: #005DAD;
    text-decoration: none;
}
.fotternuz .column a:hover {
    text-decoration: none;
}



#footer-bottom {
    background: url("../image/footer-bg.png") repeat-x scroll center top transparent;
    height: 137px;
}
#footer-menu {
    background: url("../image/menu-bg.png") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #0062B3;
    border-left: 1px solid #0062B3;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #0062B3;
    height: 48px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 978px;
}
#footer-menu .footer-links {
    text-align: center;
    width: 980px;
}
#footer-menu .footer-links a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 18px 12px 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #022E54;
    text-transform: uppercase;
}
#footer-menu .footer-links a:hover {
    text-decoration: underline;
}
#footer-menu .footer-links a + a {
    background: url("../image/menu-hr.png") no-repeat scroll left 0 transparent;
    height: 42px;
}
#powered {
    clear: both;
    margin-top: 5px;
    text-align: center;
}
html body div#container div#content div#footer div.cent div.box div.box-content {
    text-align: justify;
}
.Footercenter {
    width:980px;
    margin-left:auto;
    margin-right:auto;
}
.Footercenter h3 {
    color: #fff;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 8px;
}
.Footercenter .column {
	float: left;
	width: 25%;
	min-height: 100px;
}
.Footercenter .column ul {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 12px;
}
.Footercenter .column ul li {
	margin-bottom: 3px;
}
.Footercenter .column a {
	text-decoration: none;
	color:#FFFFFF;
}
.Footercenter .column a:hover {
	text-decoration: underline;
}
#powered {
	margin-top: 5px;
	text-align: right;
	clear: both;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}
html body div#container div#content div#footer div.cent div#carousel1 {
-webkit-box-shadow: 0px 0px 12px rgba(26, 0, 63, 0.76);
-moz-box-shadow:    0px 0px 12px rgba(26, 0, 63, 0.76);
box-shadow:         0px 0px 12px rgba(26, 0, 63, 0.76);    
    
}
div#menu div#centrmenu > ul > li:hover > ul   {
display: block;
z-index: 5;
padding: 5px;
background: #f0f0f0;
-webkit-box-shadow: 0px 10px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 10px 5px rgba(50, 50, 50, 0.75);
box-shadow:         0px 10px 5px rgba(50, 50, 50, 0.75);
border-top: 1px solid #555555;
position: absolute;
border-radius:0px 0px 5px 5px;
}
div#menu div#centrmenu > ul .activeparent {
    color: #595959;
    text-shadow: 0 1px 0 #FFFFFF;
}
div#menu div#centrmenu ul li ul li a {
font-size: 13px;
	color: #fff !important;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 6px 1px 6px 1px;
	margin-bottom: 5px;
	font-family: 'droid sans',Helvetica,Arial,sans-serif;
	position: relative;
    font-weight: bold;    
}
div#menu div#centrmenu ul li ul li a:hover {
    color: #333 !important;
}
div#menu div#centrmenu ul li ul li a {
	text-decoration: none;
	padding: 4px;
	color: #5F6060 !important;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}

div#menu div#centrmenu > ul > li > ul > li > ul {
    margin-left: -10px;
}




